<div class="tree-item-name clearfix" id="editable-{{id}}">
	<div class="pull-left" contenteditable="true" data-key="name">{{name}}</div>
	<div class="item-control pull-left">
		<div class="btn-group">
			{{#unless root}}
		    	<button type="button" id="deleteSelf-{{id}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove"></span></button>
			{{/unless}}
		    <button type="button" id="addChild-{{id}}" class="btn btn-success btn-xs"><span class="glyphicon glyphicon-plus"></span></button>
		</div>
	</div>
</div>
<ul id="root-{{id}}">
</ul>